<?php
/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */

return array(
    // You will probably want to override this or your cookies will try to set
    // for the wrong domain.  If I recall correctly 'localhost' might not set
    // cookies correctly ... you might be able to just leave this blank.
    'cookiebase_domain' => 'localhost',
);
